<h2>Show payruns</h2>

<ul>

  <li>
    <strong>Startdate:</strong>
    <%= @payrun.startdate %>
  </li>

  <li>
    <strong>Enddate:</strong>
    <%= @payrun.enddate %>
  </li>

  <li>
    <strong>Payondate:</strong>
    <%= @payrun.payondate %>
  </li>

</ul>

<%= link "Edit", to: payrun_path(@conn, :edit, @payrun) %>
<%= link "Back", to: payrun_path(@conn, :index) %>
